.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    font-weight: 500;
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.1);
    color: #007bff; /* یا رنگ دیگری که مد نظر شماست */
}

.navbar-toggler {
    border-color: transparent;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.55)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dropdown-item {
    font-size: 1rem;
}
